<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668201394106-44tmq3ovjnn42gj8jt4jmjgeahb6rlvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668201394106-44tmq3ovjnn42gj8jt4jmjgeahb6rlvv</string>
	<key>API_KEY</key>
	<string>AIzaSyBrrybGnqABt6abjQtCo0oCOntdZfY1Ng8</string>
	<key>GCM_SENDER_ID</key>
	<string>668201394106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akbari.mohammad.AppcentNews</string>
	<key>PROJECT_ID</key>
	<string>appcent-news</string>
	<key>STORAGE_BUCKET</key>
	<string>appcent-news.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668201394106:ios:c86830c61a24f134290783</string>
</dict>
</plist>